.token__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}
.token__title {
  font-family: Inter;
  font-size: 80px;
}
.token__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.token {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  font-size: 45px;
  font-family: Inter;

  width: 900px;
  height: 70px;

  background-color: #000;
  border-radius: 10px;

  margin-right: 60px;
}
.token__button {
  font-family: Inter;
  font-size: 45px;

  background: #3FB4BB;
  border-radius: 10px;

  border: 0;
  outline: 0;

  cursor: pointer;
  width: 360px;
  height: 70px;
}
.token__button:hover {
  background: #2FA4AB;
}