.token__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}
.token__title {
  font-family: Inter;
  font-size: 80px;
}
.token__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.token {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  font-size: 45px;
  font-family: Inter;

  width: 1000px;
  height: 70px;

  background-color: #000;
  border-radius: 10px;

  padding-left: 20px;
  margin-right: 60px;
}
.token__button {
  font-family: Inter;
  font-size: 30px;

  background: #3fb4bb;
  border-radius: 10px;

  border: 0;
  outline: 0;

  cursor: pointer;
  width: 210px;
  height: 70px;
}

.token__button:hover,
.token__copybutton:hover {
  background: #2fa4ab;
}

.token__copybutton {
  font-family: Inter;
  font-size: 30px;

  background: #3fb4bb;
  border-radius: 10px;

  border: 0;
  outline: 0;
  height: 70px;

  cursor: pointer;
  margin-left: 20px;
}
