.navbar {
  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar__logo {
  margin-left: 10px;

  width: 80px;
  height: 80px;
}
.navbar__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  margin-right: 10px;
}


.navlinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  margin-right: 40px;
}
.navlinks > a > h1 {
  margin-left: 20px;
  margin-right: 20px;

  color: #999999;
  cursor: pointer;
}
.navlinks > a > h1:hover {
  color: #888888;
}
.navlinks > a > h1:active {
  color: #717171;
}

.navlinks > a > .navlinks_important {
  color: var(--accent);
}
.navlinks > a > .navlinks_important:hover {
  color: var(--accent-hover);
}
.navlinks > a > .navlinks_important:active {
  color: var(--accent-select);
}